@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";

*{
    font-family: Outfit
}

body {
    background-color: #111;
    display: grid;
    place-items: center;
    height: 100vh;
}

.custom-button {
    border: 2px dashed #9370DB;
    border-radius: 50px;   
    background-color: transparent;
    color: white;              
    font-family: sans-serif;   
    font-size: 1.1rem;            
    padding: 10px 50px;    
    cursor: pointer;           
    transition: all 0.3s ease; 
}

.custom-button:hover {
    border-style: solid;
    background-color: rgba(147, 112, 219, 0.1); 
}

a.active hr{
    display: block;
}
.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }
  @media (max-width:640px){
    a.active{
        background-color: black;
        color: white;
    }
  }
  ::-webkit-scrollbar{
    display: none;
  }
  